.header1{
    background-color:olivedrab ;
    color: darkgrey;
    font-family: monospace;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body{
    margin: 0;
}
#image1{
border-radius  : 50%;
height: 200px;
width: 200px;
}

.site-content{
margin-left: 10px;
}
.my-links{
    color: darkgrey;
}